

body {
    background-image: url("../img/pattern.jpg");
    padding: 0px;
    margin: 0px;
    font-family: 'Slebo 27px',serif;

}
article{
    border-bottom: solid;
    border-width: 1px;
    
}

h1{
    text-align: center;
}
footer{
    text-align:center;
    border-style: solid;
    background-color: black;
}
footer h5{
    color: white;
}
a {
    text-decoration: none;
}
section{
    margin-left: 200;
    margin-right: 200;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

header{
    background-color: white;
position: sticky;
top: 0px;
}

nav ul{
    float: right;
    text-align: right;
  
}

nav ul a li{
    text-align: right;
    float: left;
    font-weight: bold;
}
nav li{
    float: right;
    display: inline-block;
    padding: 10px;
}

ul{
    margin-top: -40px;
    margin-right: 50px;
list-style-type: none;
float: right;}





